<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <header class="flex justify-between h-12 items-center bg-purple-300">
        <a href="">
            <h2 class="text-blue-600 text-center font-bold px-4">Bookstore</h2>
        </a>
        <nav>
            <a href="books/new">
                <button class="bg-green-300 mr-3 hover:bg-purple-300 text-white font-bold py-2 px-4 rounded">Add Book</button>
            </a>
        </nav>
    </header>
</body>
</html>