<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <header class="flex justify-between h-12 items-center bg-green-300">
        <a href="/">
            <h2 class="text-blue-500 text-center px-4">
                Bookstore
            </h2>
        </a>
        <nav>
            <a href="/books">
                <button class="btn-green-600 mr-3">Back</button>
            </a>
        </nav>
    </header>
    <div class="xl:container p-5">
        <h1 class="text-green-700 pb-4"><%= book.title %></h1>
        <h3 class="text-blue-500 pb-3"><%= book.author %></h3>
        <p class="text-gray-500"><%= book.description %></p>
        <h3 class="text-orange-500 py-2">Price:<%= book.price %></h3>
    </div>
</body>
</html>