<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-pink-300">
    <div class="xxl:container  p-10 text-center h-screen">
        <h1 class="mb-4 p-10 text-4xl">Welcome to BookStore</h1>
        <a href="/books" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Go To Store
        </a>
    </div>
</body>
</html>